<li>
    <a href="#" value="{{id}}" class="bookmark-li sidenav-close">
        <i class="material-icons">bookmark</i>
        {{name}}
        {{#if color}}
            <i class="material-icons right" style="margin-right: 0; color: {{color}}">circle</i>
        {{/if}}
    </a>
</li>
