
<ul class="sidenav sidenav-fixed" id="main-menu">
    <li>
        <ul class="collapsible expandable"> 
            {{#each collections}}
                {{> collectionPartial}}
            {{/each}}
            {{#each bookmarks}}
                {{> bookmarkPartial}}
            {{/each}}
        </ul>
    </li>
</ul>

<script type="text/javascript" src="https://chir.ag/projects/ntc/ntc.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, {"accordion": false});
    });

    $(document).ready(() => {

        $('.sidenav').sidenav();
        $('.dropdown-trigger').dropdown();

        $('.bookmark-li').click( (event) => {
            event.preventDefault();
            const target = $(event.target);
            let id;
            if (target.prop("tagName") === "I") {
                id = target.parent().attr("value");
            } else {
                id = target.attr("value");
            }
            console.log(id);
        });

        $('.color-dropdown-select').click( (event) => {
            const target = $(event.target);
            var newColor, targetEntityID, apiURL, targetLink;

            if (target.prop("tagName") === "A") {

                targetLink = target.parent().parent();

                if (targetLink.hasClass("collection-color-dropdown")) {
                    apiURL = "/api/collections/color"
                } else {
                    apiURL = "/api/bookmarks/color"
                }
                targetEntityID = targetLink.attr("data-id");
                newColor = $(target.children()[0]).css("color");

            } else if (target.prop("tagName") === "I") {

                targetLink = target.parent().parent().parent();

                if (targetLink.hasClass("collection-color-dropdown")) {
                    apiURL = "/api/collections/color"
                } else {
                    apiURL = "/api/bookmarks/color"
                }
                targetEntityID = targetLink.attr("data-id");
                newColor = target.css("color");

            }

            $.ajax({
                url: apiURL,
                type: "PUT",
                data: {
                    "ids": [targetEntityID],
                    "newColor": newColor
                },
                processData: true
            }).then( () => {
                $(targetLink.prev().children()[0]).css("color", newColor);
            }).fail( (err) => {
                alert(err.responseText)
            });
        });

        $('#new-collection').click( (event) => {
            console.log("Hello")
        });

        $('#new-bookmark').click( (event) => {
            console.log("Hello");
        });




    });



</script>
