
<nav>
    <div class="nav-wrapper valign-wrapper">
        
        <a href="/" class="brand-logo">webM8</a>

        <div id="user-display">

            <div class="row valign-wrapper" style="line-height: normal;">
                <div class="col" >
                    <span id="username-display" class="right">
                        Signed in as: {{username}}
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col right">
                    <button class="btn right" id="sign-out-btn">Sign out</button>
                </div>
            </div>

        </div>
        
    </div>
</nav>

<div class="container" style="margin-top: 10px">
    <div class="row valign-wrapper">
        <div class="col s11">
            <ul class="collapsible expandable"> 
                {{#each collections}}
                    {{> collectionPartial}}
                {{/each}}

                {{#each bookmarks}}
                    {{> bookmarkPartial}}
                {{/each}}
            </ul>
        </div>
        <div class="col s1" style="margin-left: 20px;">
            <a class="btn-floating tooltipped" data-position="left" 
                data-tooltip="New collection" style="margin-bottom: 5px">
                <i class="material-icons">folder</i>
            </a>
            <a class="btn-floating tooltipped" data-position="left" data-tooltip="New bookmark">
                <i class="material-icons">bookmark</i>
            </a>
        </div>
    </div>
</div>

