
<nav>
    <div class="nav-wrapper valign-wrapper">
        <button class="material-icons btn sidenav-trigger" data-target="main-menu">
            folder
        </button>
        <a href="/" class="brand-logo">webM8</a>
        <div id="user-display">
            <div class="row valign-wrapper" style="line-height: normal;">
                <div class="col" >
                    <span id="username-display" class="right">Signed in as: {{username}}</span>
                </div>

            </div>
            <div class="row">
                <div class="col right">
                    <button class="btn right" id="sign-out-btn">Sign out</button>
                </div>
            </div>
        </div>
    </div>
</nav>

<ul class="sidenav sidenav-fixed" id="main-menu">
    <li>
        <ul class="collapsible expandable"> 
            {{#each collections}}
                {{> collectionPartial}}
            {{/each}}
            {{#each bookmarks}}
                {{> bookmarkPartial}}
            {{/each}}
        </ul>
    </li>
</ul>

<script type="text/javascript" src="https://chir.ag/projects/ntc/ntc.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, {"accordion": false});
    });

    $(document).ready(() => {

        $('.sidenav').sidenav();
        $('.dropdown-trigger').dropdown();

        $('#sign-out-btn').click( (event) => {
            event.preventDefault();
            $.ajax({
                url: "/logout",
                type: "GET"
            }).then( () => {
                location.replace('/splash')
            }).fail( (err) => {
                console.log(err);
            });
        });

        $('.bookmark-li').click( (event) => {
            event.preventDefault();
            const target = $(event.target);
            let id;
            if (target.prop("tagName") === "I") {
                id = target.parent().attr("value");
            } else {
                id = target.attr("value");
            }
            console.log(id);
        });

        $('.color-dropdown-select').click( (event) => {
            const target = $(event.target);
            var newColor, targetEntityID, apiURL, targetLink;

            if (target.prop("tagName") === "A") {

                targetLink = target.parent().parent();

                if (targetLink.hasClass("collection-color-dropdown")) {
                    apiURL = "/api/collections/color"
                } else {
                    apiURL = "/api/bookmarks/color"
                }
                targetEntityID = targetLink.attr("data-id");
                newColor = $(target.children()[0]).css("color");
                if (newColor === "rgb(56, 56, 56)") {
                    newColor = "rgb(255, 255, 255)";
                }

            } else if (target.prop("tagName") === "I") {

                targetLink = target.parent().parent().parent();
                console.log(targetLink.attr("class"));

                if (targetLink.hasClass("collection-color-dropdown")) {
                    apiURL = "/api/collections/color"
                } else {
                    apiURL = "/api/bookmarks/color"
                }
                targetEntityID = targetLink.attr("data-id");
                newColor = target.css("color");
                if (newColor === "rgb(56, 56, 56)") {
                    newColor = "rgb(255, 255, 255)";
                }
            }

            console.log(apiURL);

            $.ajax({
                url: apiURL,
                type: "PUT",
                data: {
                    "ids": [targetEntityID],
                    "newColor": newColor
                },
                processData: true
            }).then( () => {
                if (newColor === "rgb(255, 255, 255)") {
                    newColor = "rgb(56, 56, 56)";
                    $(targetLink.prev().children()[0]).text("panorama_fish_eye");
                    $(targetLink.prev().children()[0]).css("color", newColor);
                } else {
                    $(targetLink.prev().children()[0]).text("circle");
                    $(targetLink.prev().children()[0]).css("color", newColor);
                }
            }).fail( (err) => {
                alert(err.responseText)
            });
        });

        $('#new-collection').click( (event) => {
            console.log("Hello")
        });

        $('#new-bookmark').click( (event) => {
            console.log("Hello");
        });

    });

</script>
