
{{!-- Nav bar --}}
<nav>
    <div class="nav-wrapper valign-wrapper">
        
        <a href="/" class="brand-logo">webM8</a>

        <div id="user-display">

            <div class="row valign-wrapper" style="line-height: normal;">
                <div class="col" >
                    <span id="username-display" class="right">
                        Signed in as: {{username}}
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col right">
                    <button class="btn right" id="sign-out-btn">Sign out</button>
                </div>
            </div>

        </div>
        
    </div>
</nav>

{{!-- Container for main home page content --}}
<div id='list-container' class="container" style="margin-top: 10px">
    <div class="row">
        <div class="col s10">
            <ul class="collapsible expandable"> 
                {{#each collections}}
                    {{> collectionPartial}}
                {{/each}}

                {{#each bookmarks}}
                    {{> bookmarkPartial}}
                {{/each}}
            </ul>
        </div>
        <div class="col s1" style="margin-left: 20px;">
            <a class="btn-large btn-floating tooltipped modal-trigger" href="#newCollectionModal" 
                data-position="left" data-tooltip="New collection" style="margin-bottom: 5px">
                <i class="material-icons">folder</i>
            </a>
            <a class="btn-large btn-floating tooltipped modal-trigger" href="#newBookmarkModal"
                data-position="left" data-tooltip="New bookmark">
                <i class="material-icons">bookmark</i>
            </a>
        </div>
    </div>
</div>

{{!-- Modal form for creating a new collection --}}
<div id="newCollectionModal" class="modal">
    <div class="modal-content">
        <h4>New Collection</h4>
        <div class="input-field">
            <input type="text" id="new-collection-name" placeholder="Collection Name">
        </div>
        <div class="modal-footer">
            <a href="" class="btn" id="add-collection-btn">Add</a>
            <a href="" class="btn cancel-btn modal-close">Cancel</a>
        </div>
    </div>
</div>

{{!-- Modal form for editing a collection --}}
<div class="modal" id="edit-collection-modal">
    <div class="modal-content">
        <h4 class='valign-wrapper'>Edit Collection</h4>
        <h5 class='valign-wrapper'>
            <span id='parent-collection-path'></span>
            <span id='path-current-name' style='font-weight: bold'></span>
        </h5>
        <div class="row valign-wrapper">
            <div class="col input-field">
                <label for="edit-collection-name" class='active'>Name</label>
                <input type="text" id="edit-collection-name">
            </div>
            <div class="col" style='display: flex'>
                Color: 
                <div id='color-dropdown-trigger-modal' class='dropdown-trigger valign-wrapper'
                    data-target='modal-color-select-dropdown'>
                    <i id='modal-color-display' class='material-icons'>remove</i>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="" class="btn" id="edit-collection-save-btn">Save</a>
            <a href="" class="btn cancel-btn">Cancel</a>
        </div>
    </div>
</div>

{{!-- Modal form for editing or creating a new bookmark --}}
<div id="newBookmarkModal" class="modal">
    <div class="modal-content">
        <h4 id="bookmark-modal-header" style="margin-bottom: 30px;">New Bookmark</h4>

        <div class="row">
            <div class="col">
                <div class="input-field">
                    <label for="bookmark-name">Name</label>
                    <input type="text" id="bookmark-name" placeholder="Bookmark Name">
                </div>
            </div>
        </div>
        <div class="row valign-wrapper">
            <div class="col s9">
                <div class="input-field">
                    <label for="bookmark-url">URL</label>
                    <input type="text" id="bookmark-url" placeholder="URL">
                </div>

            </div>
            <div class="col s3">
                <button class="btn bookmark-btn" id="modal-go-btn">GO</button>
            </div>
        </div>

        <div class="row valign-wrapper">
            <div class="col s12">
                <label for="tags-display">Tags</label>
                <div id="tags-display" class="modal-chips chips-initial chips-placeholder"></div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">   
                <div class="input-field">
                    <label for="bookmark-comment">Comment</label>
                    <textarea class="materialize-textarea" id="bookmark-comment"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn" id="add-bookmark-btn">Add</a>
            <a class="btn" id="save-bookmark-btn" style="display: none;">Save</a>
            <a class="btn cancel-btn">Cancel</a>
        </div>
    </div>
</div>

{{!-- Color picker dropdown list --}}
<ul id='modal-color-select-dropdown' 
    class='dropdown-content color-dropdown color-dropdown-collection'>
    <li class='valign-wrapper'>
        <div class='color-dropdown-select valign-wrapper'>
            <i class='material-icons' style='color: rgb(56, 56, 56)'>panorama_fish_eye</i>
        </div>
    </li>
    <li class='valign-wrapper'>
        <div class='color-dropdown-select valign-wrapper'>
            <i class='material-icons' style='color: black'>circle</i>
        </div>
    </li>
    <li class='valign-wrapper'>
        <div class='color-dropdown-select valign-wrapper'>
            <i class='material-icons' style='color: red'>circle</i>
        </div>
    </li>
    <li class='valign-wrapper'>
        <div class='color-dropdown-select valign-wrapper'>
            <i class='material-icons' style='color: green'>circle</i>
        </div>
    </li>
    <li class='valign-wrapper'>
        <div class='color-dropdown-select valign-wrapper'>
            <i class='material-icons' style='color: blue'>circle</i>
        </div>
    </li>
    <li class='valign-wrapper'>
        <div class='color-dropdown-select valign-wrapper'>
            <i class='material-icons' style='color: yellow'>circle</i>
        </div>
    </li>
    <li class='valign-wrapper'>
        <div class='color-dropdown-select valign-wrapper'>
            <i class='material-icons' style='color: orange'>circle</i>
        </div>
    </li>
    <li class='valign-wrapper'>
        <div class='color-dropdown-select valign-wrapper'>
            <i class='material-icons' style='color: purple'>circle</i>
        </div>
    </li>
    <li class='valign-wrapper'>
        <div class='color-dropdown-select valign-wrapper'>
            <i class='material-icons' style='color: pink'>circle</i>
        </div>
    </li>
</ul>