<div class="row">

    <div class="col s12 m6">

        <div class="card">

            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a href="#login">Login</a></li>
                    <li class="tab"><a class="active" href="#signup">Signup</a></li>
                </ul>
            </div>

            <div class="card-content">

                <div id="login">
                    <form action="" id="login-form">
                        <div class="input-field">
                            <input placeholder="Username" type="text" id="login-username-input" autocomplete="username">
                        </div>
                        <div class="input-field">
                            <input placeholder="Password" 
                                type="password" id="login-password-input" autocomplete="current-password">
                        </div>
                    </form>
                    <button class="btn" type="submit" id="login-btn">Log in</button>
                </div>

                <div id="signup">
                    <form action="">

                        <div class="input-field">
                            <input placeholder="E-mail" type="text">
                        </div>
                        <div class="input-field">
                            <input placeholder="Username" type="text" id="signup-username-input" autocomplete="username">
                        </div>
                        <div class="input-field">
                            <input placeholder="Password" 
                                type="password" id="signup-password-input" autocomplete="current-password">
                        </div>
                    </form>
                    <button class="btn" type="submit" id="signup-btn">Sign up</button>
                </div>

            </div>
        </div>

    </div>
</div>